*{
    margin:0px;
    padding:0px;
}

.header {
    background-color: #0A4B33;
    padding: 20px;
    
}
.navigation{
    width: 1500px;
    margin: auto;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans";
    color: white;
}
.left-nav, .right-nav, .right-nav p, .left-nav h1, .left-nav p{
    display:inline-block;
}
.left-nav p{
    width: 200px;
    font-size: small;
    color: #43B78B;
    padding: 10px;
}
.left-nav, .left-nav p{
    vertical-align: middle
}

.right-nav{
    width: 1115px;
    text-align: right;
    vertical-align: middle
}
.right-nav p{
    padding: 10px;
    font-size: small;
    font-weight: 900;
}
.right-nav p a{
    text-decoration: none;
    color: white;
}
.jumbotron{
    height: 500px;
    background-color: #ffffff;
    padding: 100px;
}
.jumbotron h1{
    text-align: center;
    width: 615px;
    margin: auto;
    font-family: sans-serif;
    font-weight: 100;
    color: #0A4B33
}
.jumbotron button{
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5%;
    font-size: larger;
    background-color: #43B78B;
    color: white;
    margin: auto;
    display: block;
    margin-top: 40px;
}
